<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#session.getAttribute('username') + '的空间'}"></title>

    <script th:src="@{/asserts/js/jquery-2.1.4.min.js}"></script>
    <link rel="stylesheet" th:href="@{/asserts/css/bootstrap.min.css}">
    <script th:src="@{/asserts/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/asserts/css/main.css}">
    <script th:src="@{/asserts/js/main.js}"></script>

    <link rel="stylesheet" th:href="@{/asserts/css/font-awesome.css}">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
</head>
<body>
<div id="back">
    <div class="center">
        <div class="box center">
            <div class="my-top-bar">
                <input type="button" id="photo_btn" class="my-photo" onclick="upload_photo()" value="">
                <input type="file" id="user_photo" accept="image/gif image/jpeg image/jpg image/png" hidden="hidden">
                <div class="my-nickname">
                    <span th:text="${#session.getAttribute('username')}"></span>
                </div>
                <input type="button" class="btn btn-danger btn-large my-exit-btn" value="登出" onclick="logout()">
            </div>
            <div class="my-side-bar">
                <!--搜索好友-->
                <div class="my-search-bar">
                    <input type="text" class="form-control my-search-input" id="search_input">
                </div>
                <div class="my-chat-pages">
                    <div id="my-chat-list"></div>
                </div>
            </div>
            <div class="my-main-context">
                <!--聊天室、输入框-->
                <div class="my-chat-room"></div>
                <div class="my-input-box">
                    <textarea class="my-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>